[SddmGreeterTheme]
Name=Blade
Description=Blade Theme (based on Maldives)
Author=funnydman
Copyright= funnydman
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=#
Screenshot=#
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=funnydman@gmail.com
Theme-Id=blade
Theme-API=1.0
